/*
* @Author: Greg Bird (@BirdyOz, greg.bird.oz@gmail.com)
* @First Created:   2019-10-18 08:26:40
* @Last Modified by:   Greg Bird
* @Last Modified time: 2021-01-18 16:37:39
*/

/*Set colour of breadcrumbs*/
.mast-image .breadcrumb-item a {
    color: #fff !important;
}

/*Fix hidden subchapters checkbox in Snap MP2*/
.path-mod-book #id_general .fcontainer .checkbox {
    display: inline
}

/*  Change the backdrop to user tours */
div[data-flexitour="backdrop"] {
    background-color: black;
    opacity: .6;
}

/*----- Hide user notification ----*/
.theme-snap #user-notifications {
    display: none;
}

/* Shrink unneccessary whitespace on cards */
p.snap-resource-card-fadeout {
    display: none;
}

/* Fix issue where collapsed accordions cannot be edited in the new ATTO editor */

.editor_atto .collapse, .book_chapter .collapse {
    display: block !important;
    height: auto  !important;
}

/*Snap on M3.8 books fix - when inside a book, hide the book description from top*/

body#page-mod-book-view #region-main #intro {
    display: none;
}

/* Fix display bug when editing books, where editing controls overlay text*/

body#page-mod-book-view.editing .book_toc .d-flex {
    display: block !important;
}

body#page-mod-book-view.editing .book_toc .text-truncate {
    white-space: normal;
}

/* Hide the M3.9 H5P Content bank from course admin menu*/

#settingsnav a[href*="/contentbank/"]{
    /*display: none;*/
}
