/*
* @Author: Greg Bird (@BirdyOz, greg.bird.oz@gmail.com)
* @First Created:   2020-01-14 11:17:23
* @Last Modified by:   Greg Bird
* @Last Modified time: 2020-06-24 15:16:17
*/


/* ==========================================================================
   SITE WIDE
   ========================================================================== */

/* Hide topbar from Snap theme */
div.topbar {
    display: none;
}


/* Change headings to Poppins font */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;
}


/* ==========================================================================
   BANNER
   ========================================================================== */

#page-header.mast-image a {
    color: #fff;
    text-shadow: 2px 2px black;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.3em 0.2em;
    display: inline-block;
}


/* Fix vertical alignment of banner image*/
#page-header {
    background-position: center center;
}


/* ==========================================================================
   LH NAVIGATION - COLOURS AND MARKERS
   ========================================================================== */

/* Increase contract of current section */
#snap-course-wrapper #chapters li.snap-visible-section a {
    font-weight: 500;
    color: black;
}

/* Current marker */
#snap-course-wrapper #chapters li.snap-visible-section .chapter-title:before {
    font-family: FontAwesome;
    content: "\f0da";
    background: none;
    margin-right: .4em;
}

/* Increase contract of conditional items*/
#snap-course-wrapper #chapters li.conditional .published-status {
    font-weight: 500;
    color: #666;
}

/* Conditional marker */
#snap-course-wrapper #chapters li.conditional .chapter-title:before {
    font-family: FontAwesome;
    color: #666;
    content: "\f023";
    background: none;
    margin-right: .4em;
}

/* Increase contract of hidden items*/
#snap-course-wrapper #chapters li.draft .published-status,
.coursecard-body .snap-draft-tag,
.coursecard-body .published-status {
    font-weight: 500;
    color: maroon !important;
}



/* Hidden marker */
#snap-course-wrapper #chapters li.draft .chapter-title:before,
.snap-draft-tag:before,
.coursecard-body .published-status:before {
    font-family: FontAwesome;
    color: #333;
    content: "\f070 ";
    background: none;
    margin-right: .4em;
}


/* ==========================================================================
   ICON REPLACEMENTS
   ========================================================================== */


/* ==========================================================================
   POST-FIXES TO UI ELEMENTS
   ========================================================================== */


/* Fix issue where collapsed accordions cannot be edited in the new ATTO editor
Expand all collapsed items in the atto edtitor, to expose their content */


.editor_atto .collapse, .book_chapter .collapse {
    display: block !important;
    height: auto  !important;
}

/* ==========================================================================
   DISPLAY FIXES
   ========================================================================== */


/*  Change the backdrop to user tours */
div[data-flexitour="backdrop"] {
    background-color: black;
    opacity: .4;
}


/* Fix for the contrast (visibility) of notifications */
.theme-snap #mr-nav .popover-region-notifications a {
    color: rgba(1, 89, 57, 1);
}

/* Hide tool labels */
.modtype_label .activityinstance .snap-assettype {
    visibility: hidden;
}

/*.modtype_book h4 {
    display: none;
}*/

#page-login-index .snap-login {
    background-color: transparent;
}


/*Create hanging indent for references (attribution statements)*/

.ref, .EndNoteBibliography {
    margin-left: 1.5em;
    text-indent: -1.5em;
    font-size: smaller;
    color: #555;
}

.ref-inline {
    margin-left: 1.5em;
    text-indent: -1.5em;
}


/* ==========================================================================
   CPP CUSTOMISATIONS - THEME OVERRIDES
   ========================================================================== */



.category-925 a#snap-home {
    background-image: url('https://www.certifiedprincipal.org/assets/images/dest/cpp/cpp-logo.svg') !important;
}

/* reset vertical alignment of banner image, just for CPP*/
.category-925 #page-header {
    background-position: center top;
}

@media (min-width: 768px) {
    .category-925 #snap-home.logo {
        height: 90px;
    }

    .category-925 #page-header {
        margin-top: 110px;
    }

    .category-925 #mr-nav {
        top: 0;
    }

    .category-925 .breadcrumb-nav {
        margin-top: -3em;
    }
}