h1, h2, h3, h4, h5, h6 {color: #0679bf;}

h1 { font-size: 1.5em;}
h2 { font-size: 1.4em;}
h3 { font-size: 1.3em;}
h4 { font-size: 1.2em;}
h5{ font-size: 1.1em;}
h6{ font-size: 1em;}

.section li.snap-asset .activityinstance .snap-asset-link {
font-size: 1.3em;
}

/*---------------------------Beginning of section header styles------------------------------*/

.template-section-header{
    /*background-image is applied to the specific style*/
    background-repeat:no-repeat;
    margin-bottom:30px;
    background-size:65px;
}
.template-section-header h3{
    padding:20px 30px; /* controls height of banner and moves text away from left edge of 'banner' */
    margin-left:75px; /* makes room for the 'banner' image */
    border-radius:6px;
    font-size:1.1rem;
    color:white;
}
.template-section-header h4{
    font-size:1rem;
    border-bottom: 2px solid; /* All h4 borders will be 2px and solid colour is applied in specific banner classes*/
    background-image:none;
       color:  #484848;
}
.template-topic{
    background-image:url("/pluginfile.php/1/tool_themeassets/assets/0/Topic%20icon.svg");
}
.template-topic h3{
    background-color:#53A2AF;
}
.template-topic h4{
    border-bottom-color:#53A2AF;
}
.template-getStarted{
    background-image:url("/pluginfile.php/1/tool_themeassets/assets/0/Welcome%20icon.svg");
}
.template-getStarted h3{
    background-color:#846BA6;
}
.template-getStarted h4{
    border-bottom-color:#846BA6;
}
.template-warning{
    background-image:url("/pluginfile.php/1/tool_themeassets/assets/0/Warning%20icon.svg"
);
}
.template-warning h3{
    background-color: #846BA6;
}
.template-warning h4{
    border-bottom-color: #846BA6;
}
.template-learn{
    background-image:url("/pluginfile.php/1/tool_themeassets/assets/0/How%20you%20learn%20icon.svg");
}
.template-learn h3{
    background-color: #846BA6;
}
.template-learn h4{
    border-bottom-color: #846ba6;
}
.template-announce{
    background-image:url("/pluginfile.php/1/tool_themeassets/assets/0/Announcement%20icon.svg");
}
.template-announce h3{
    background-color:#846BA6;
}
.template-announce h4{
    border-bottom-color:#846BA6;
}
.template-startflag{
    background-image:url("/pluginfile.php/1/tool_themeassets/assets/0/Start%20learning%20icon.svg");
}
.template-startflag h3{
    background-color:#8dc63f;
}
.template-startflag h4{
    border-bottom-color:#8dc63f;
}
.template-check{
    background-image:url("/pluginfile.php/1/tool_themeassets/assets/0/Learning%20check%20icon.svg");
}
.template-check h3{
    background-color:#8dc63f;
}
.template-check h4{
    border-bottom-color:#8dc63f;
}
.template-next{
    background-image:url("/pluginfile.php/1/tool_themeassets/assets/0/Whats%20next%20icon.svg");
}
.template-next h3{
    background-color:#53a2af;
}
.template-next h4{
    border-bottom-color:#53a2af;
}
.template-assessments{
    background-image:url("/pluginfile.php/1/tool_themeassets/assets/0/Assessments%20icon.svg");
}
.template-assessments h3{
    background-color:#8dc63f;
}
.template-assessments h4{
    border-bottom-color:#8dc63f;
}
.template-feedback{
    background-image:url("/pluginfile.php/1/tool_themeassets/assets/0/Feedback%20icon.svg");
}
.template-feedback h3{
    background-color:#846ba6;
}
.template-feedback h4{
    border-bottom-color:#846ba6;
}
.template-references{
    background-image:url("/pluginfile.php/1/tool_themeassets/assets/0/References%20icon.svg");
}
.template-references h3{
    background-color:#846ba6;
}
.template-references h4{
    border-bottom-color:#846ba6;
}
/*---------------------------End of section header styles------------------------------*/


.case-study {
    /*background-image is applied to the specific style*/
       background-image:url("/pluginfile.php/1/tool_themeassets/assets/0/Search%20icons.svg");
    background-repeat:no-repeat;
        padding: 1em;
    margin-bottom:30px;
    background-size:55px;
       border-radius:6px;
       background-color: #f6f6f6;
}
.case-study h3 {
       color: #3d5c72;
       padding-left: 2em;
padding-bottom: .5em;
       margin-top :0;
       border-bottom: 2px solid #3d5c72;
}