/*
* @Author: Greg Bird (@BirdyOz, greg.bird.oz@gmail.com)
* @Date:   2018-10-01 08:14:38
* @Last Modified by:   Greg Bird
* @Last Modified time: 2018-10-02 12:36:28
*/



/* ==================================================
   Homepage
   ================================================== */

/* Hide redundant login button */
#page-site-index #page-mast .btn {
    display: none;
}

/* Collapse whitespace */
#page-site-index #moodle-footer {
    margin-top: 0;
}



/* ==================================================
   Snap My Courses Interface
   ================================================== */

/* Remove progress bar */
.coursecard-dynamicinfo {
    display: none;
}

/* Move and style logout */
#snap-pm-logout {
    position: absolute;
    top: 18px;
    right: 4px;
    padding-left: 24px !important;
}

/* Style close button */
#snap-pm-close {
    position: absolute;
    top: 18px;
    right: 110px;
    background: none !important;
    width: auto;
    font-size: 1em;
    padding-top: 13px !important;
}

/* Remove the close 'X' icon */
#snap-pm-close:before {display: none;}

.snap-icon-close:before {
    background-image: none !important;
}

/* Remove 'close' text */
#snap-pm-close small {
    display: none;
}
/* Update text to last viewed */
#snap-pm-close:after {
    content: "Last Viewed" !important;
}

/* Style as if Boostrap buttons */
a#snap-pm-logout, a#snap-pm-close {
    border: 1px solid white;
    padding: 10px;
    font-size: 0.8em !important;
    height: 42px;
}

a#snap-pm-logout:hover, a#snap-pm-close:hover {
  text-decoration: none;
  background-color: black !important;
}

/* Remove dash after 'Grades' */
a[href $="/grade/report/overview/index.php"]:after {
  display: none !important;
}


/* ==================================================
   Moodle Course - Navigation
   ================================================== */

/* Increased contrast for hidden/conditional/unpublished content.  */

#snap-course-wrapper #chapters li.draft .chapter-title:before,
#snap-course-wrapper #chapters li.conditional .chapter-title:before {
    background-color: #BC243C;
}

#snap-course-wrapper #chapters li.draft small,
#snap-course-wrapper #chapters li.conditional small {
    font-weight: bold !important;
}

.snap-conditional-tag, .snap-stealth-tag, .snap-draft-tag, .snap-current-tag, .text-warning, .red, .notifyproblem, .completion-expired, span.flagged-tag, tr.flagged-tag, span.flagged-tag a, tr.flagged-tag a, .moodle-dialogue-exception .param-stacktrace .stacktrace-line, .connecting {
    color: #BC243C!important;
    font-weight: bold !important;
}


/* Move Course Dashboard above LH navigation */

#course-toc {
  margin-top: 3em;
}

#toc-search {
  top: 4em;
}

#course-toc a[href="#coursetools"] {
  /*display: none !important;*/
  position: absolute;
  top: 1em;
}


/* ==================================================
   Footer
   ================================================== */

/* reduce padding whitespace */
#moodle-footer {
    padding-top: 20px;
}

/* Hide MoodleRooms specific footer text and copyright statement */
#mrooms-footer {
    visibility: hidden;
    height: 1.2em;
}

/* Turn back on the Moodle help link */
#mrooms-footer a.helplinkpopup {
    visibility: visible !important;
}