/*
* @Author: Greg Bird (@BirdyOz, greg.bird.oz@gmail.com)
* @First Created:   2021-02-04 13:58:29
* @Last Modified by:   Greg Bird
* @Last Modified time: 2021-02-05 13:28:01
*/


.published-status{color: #f05500}

/*  Change the backdrop to user tours */
div[data-flexitour="backdrop"] {
    background-color: black;
    opacity: .4;
}

/* Automatically "Expand All" collapsed items in editing interfaces*/
body[id$="-mod"] fieldset.collapsed div.fcontainer {
    display: block !important;
}

/* Hide the 'Expand all/Collapse all' button, as it is no longer needed*/
body[id$="-mod"] .collapsible-actions {
    display: none !important;
}

/* Fix issue where collapsed accordions cannot be edited in the new ATTO editor
Expand all collapsed items in the atto edtitor, to expose their content */

.editor_atto .collapse {
 display: block !important;
 height: auto !important;
}

 /*Snap on M3.8 books fix - when inside a book, hide the book description from top*/

body#page-mod-book-view #region-main #intro {

   display: none;

}

/**
 *
 * Possible CSS enhancements
 * For discussion 04.02.21
 *
 */


/* ==========================================================================
   SITE WIDE
   ========================================================================== */


/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #000;
    font-weight: 500;
}*/


/* ==========================================================================
   BANNER
   ========================================================================== */

#page-header.mast-image a {
    color: #fff;
    text-shadow: 2px 2px black;
    background: rgba(0, 0, 0, 0.3);
    padding: 0.3em 0.2em;
    display: inline-block;
}


/* Fix vertical alignment of banner image*/
/*#page-header {
    background-position: center center;
}*/


/* ==========================================================================
   LH NAVIGATION - COLOURS AND MARKERS
   ========================================================================== */

/* Increase contract of current section*/
#snap-course-wrapper #chapters li.snap-visible-section a {
    font-weight: 500;
    color: black;
}

/* Current marker */
#snap-course-wrapper #chapters li.snap-visible-section .chapter-title:before {
    font-family: FontAwesome;
    content: "\f0da";
    background: none;
    margin-right: .4em;
}

/*/* Increase contract of conditional items*/
#snap-course-wrapper #chapters li.conditional .published-status {
    font-weight: 500;
    color: #666;
}

/* Conditional marker */
#snap-course-wrapper #chapters li.conditional .chapter-title:before {
    font-family: FontAwesome;
    color: #666;
    content: "\f023";
    background: none;
    margin-right: .4em;
}

/* Increase contract of hidden items*/
#snap-course-wrapper #chapters li.draft .published-status,
.coursecard-body .snap-draft-tag,
.coursecard-body .published-status {
    font-weight: 500;
    color: maroon !important;
}



/* Hidden marker */
#snap-course-wrapper #chapters li.draft .chapter-title:before,
.snap-draft-tag:before,
.coursecard-body .published-status:before {
    font-family: FontAwesome;
    color: #333;
    content: "\f070 ";
    background: none;
    margin-right: .4em;
}


/* ==========================================================================
   ICON REPLACEMENTS
   ========================================================================== */

/*Change link text to black*/
/*a.mod-link {
    color: #000 !important;
}*/


/*Choice*/
/*.modtype_choice img.activityicon {
    display: none;
}*/

/*.modtype_choice .instancename:before {
    font-family: "fontawesome";
    content: "\f022";
    font-size: 2em;
    color: #ffa000;
    padding: 0.1em 0.2em;
    border-radius: 4px;
    background-color: rgba(255, 160, 0, .1);
    margin-right: .2em;

}*/

/*Quiz*/
/*.modtype_quiz img.activityicon {
    display: none;
}

.modtype_quiz .instancename::before {
    font-family: "fontawesome";
    content: "\f058";
    font-size: 2em;
    color: #ffa000;
    padding: 0.1em 0.2em;
    border-radius: 4px;
    background-color: rgba(255, 160, 0, .1);
    margin-right: .4em;
}
*/

/*Forum*/
/*.modtype_forum img.activityicon, .modtype_hsuforum img.activityicon {
    display: none;
}

.modtype_forum .instancename::before, .modtype_hsuforum .instancename::before {
    font-family: "fontawesome";
    content: "\f0e6";
    font-size: 2em;
    color: rgba(139, 195, 74, 1);
    padding: 0.1em 0.2em;
    border-radius: 4px;
    background-color: rgba(139, 195, 74, .1);
    margin-right: .4em;
}
*/
/* Feedback*/
/*.modtype_feedback img.activityicon {
    display: none;
}

.modtype_feedback .instancename::before {
    font-family: "fontawesome";
    content: "\f11d";
    font-size: 2em;
    color: #ffa000;
    padding: 0.1em 0.2em;
    border-radius: 4px;
    background-color: rgba(255, 160, 0, .1);
    margin-right: .4em;
}*/


/* Assignment*/
/*.modtype_assign img.activityicon {
    display: none;
}

.modtype_assign .instancename::before {
    font-family: "fontawesome";
    content: "\f0f6";
    font-size: 2em;
    color: rgba(3, 169, 244, 1);
    padding: 0.1em 0.2em;
    border-radius: 4px;
    background-color: rgba(3, 169, 244, .1);
    margin-right: .4em;
}*/


/* H5P*/
/*.modtype_hvp img.activityicon {
    display: none;
}

.modtype_hvp .instancename::before {
    font-family: "fontawesome";
    content: "\f25a";
    font-size: 2em;
    color: rgba(1, 89, 57, 1);
    padding: 0.1em 0.2em;
    border-radius: 4px;
    background-color: rgba(1, 89, 57, .1);
    margin-right: .4em;
}*/

/* ==========================================================================
   POST-FIXES TO UI ELEMENTS
   ========================================================================== */



/* ==========================================================================
   DISPLAY FIXES
   ========================================================================== */



/*  Change the backdrop to user tours */
/*div[data-flexitour="backdrop"] {
background-color: black;
    opacity: .4;
}*/


/* Fix for the contrast (visibility) of notifications */
/*.theme-snap #mr-nav .popover-region-notifications a {
    color: rgba(1, 89, 57, 1);
}*/

/* Hide tool labels */
/*.modtype_label .activityinstance .snap-assettype {
    visibility: hidden;
}*/

/*.modtype_book h4 {
    display: none;
}*/

/*#page-login-index .snap-login {
    background-color: transparent;
}*/

