


/* colour variants*/

.cit-color-blue .cit-icon-bg {
    background-color: #008eb8;
}

.cit-color-green .cit-icon-bg {
    background-color: #81c441;
}

.cit-color-orange .cit-icon-bg {
    background-color: #ff8300;
}

.cit-color-purple .cit-icon-bg {
    background-color: #7c4399;
}


