/*
* @Author: Greg Bird (@BirdyOz, greg.bird.oz@gmail.com)
* @Date:   2018-06-22 14:47:49
* @Last Modified by:   BirdyOz
* @Last Modified time: 2018-06-22 15:41:45
*/



/* Banner variants */

 .cit-blue-green #page-header {background-image: url("https://birdyoz.github.io/cit/banners/cit-banner-blue-green.jpg"); }
 .cit-blue-purple #page-header {background-image: url("https://birdyoz.github.io/cit/banners/cit-banner-blue-purple.jpg"); }
 .cit-green-blue #page-header {background-image: url("https://birdyoz.github.io/cit/banners/cit-banner-green-blue.jpg"); }
 .cit-green-yellow #page-header {background-image: url("https://birdyoz.github.io/cit/banners/cit-banner-green-yellow.jpg"); }
 .cit-orange-pink #page-header {background-image: url("https://birdyoz.github.io/cit/banners/cit-banner-orange-pink.jpg"); }
 .cit-pink-blue #page-header {background-image: url("https://birdyoz.github.io/cit/banners/cit-banner-pink-blue.jpg"); }
 .cit-pink-orange #page-header {background-image: url("https://birdyoz.github.io/cit/banners/cit-banner-pink-orange.jpg"); }


/* Button variants*/








.cit-color-blue .cit-icon-bg {
    background-color: #008eb8;
}

.cit-color-green .cit-icon-bg {
    background-color: #81c441;
}

.cit-color-orange .cit-icon-bg {
    background-color: #ff8300;
}

.cit-color-purple .cit-icon-bg {
    background-color: #7c4399;
}


