/* ===============================
   DYNAMIC BANNERS
   =============================== */



/* Set defualt text and colour background if in a course with a dynamic banner */

body.gotafe-in-course #page-header {
    background: black;
}

/* Change the BG for ID24/2024 */
body.gotafe-year-2024 #page-header, body.gotafe-year-id24 #page-header {
    background: #1f3345;
}

/*Set banner text to white with shaadow*/
body.gotafe-in-course #page-header * {
    color: #FFF !important;
    text-shadow: 1px 1px 1px #000;
}

/* Hide the 'Change cover image' button*/
#snap-coverimagecontrol {
    display: none !important;
}

#gotafe-banner-units .text-muted, #gotafe-banner-quals .text-muted {
    opacity: 0.8;
}

#gotafe-banner-year {
    opacity: 0.9;
    border-radius: 0.3em;
}