/*
* @Author: Greg Bird (@BirdyOz, greg.bird.oz@gmail.com)
* @Date:   2018-07-06 13:54:29
* @Last Modified by:   BirdyOz
* @Last Modified time: 2018-07-26 08:58:55
*/


/* GLOBAL */

body {
    color: #202020;
}



/* COURSE CONTENT PAGES */


/* Increased contrast for hidden/conditional/unpublished content.  */

#snap-course-wrapper #chapters li.draft .chapter-title:before {
    background-color: #993366;
}

.snap-conditional-tag, .snap-stealth-tag, .snap-draft-tag, .snap-current-tag, .text-warning, .red, .notifyproblem, .completion-expired, span.flagged-tag, tr.flagged-tag, span.flagged-tag a, tr.flagged-tag a, .moodle-dialogue-exception .param-stacktrace .stacktrace-line, .connecting {color: #993366!important;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400 !important;
}

.published-status {
    opacity: 1;
    font-weight: 400 !important;
}

/* SNAP 'MY COURSES' INTERFACE*/

/* Make the coloured stripe narrower, on large format displays*/
@media (min-width:768px){
    .coursecard {
        height: 165px
    }
    .coursecard .coursecard-body {
        min-height: 75%
    }
    .coursecard .coursecard-body h3{
        font-size: 0.8em
    }
}

/* FOOTER */

#moodle-custom-menu {
    display: none;
}

#moodle-footer {
    font-size: 0.8em;
    background-color: #1f3345 !important;
}

.copyright-statement {
    font-size: 0.8em
}