/*
* @Author: Greg Bird (@BirdyOz, greg.bird.oz@gmail.com)
* @First Created:   2023-07-13 08:48:09
* @Last Modified by:   BirdyOz
* @Last Modified time: 2023-07-24 09:47:59
*/

/* ===============================
   GLOBAL
   =============================== */

/* Increase the contrast of text, esp on hidden/conditional content*/
body {
    color: #202020;
}

/* Remove fixed width for content and other containers.  Caters for larger display sizes.*/
.course-content, .settingsform, #region-main, #snap-course-footer-about {
    max-width: 100% !important;
}


/* Increase the contrast of muted and dimmed items*/
a.dimmed, a.dimmed:link, a.dimmed:visited, a.dimmed_text, a.dimmed_text:link, a.dimmed_text:visited, .dimmed_text, .dimmed_text a, .dimmed_text a:link, .dimmed_text a:visited, .dimmed_category, .dimmed_category a {
    color: #474C50 !important;
}


/* ===============================
   SITE FRONTPAGE
   =============================== */


/*#moodle-frontpage-elements .news-article-preview a.btn-default {
    background-color: #FFF;
    display: none;
}

#moodle-frontpage-elements .news-article-preview a.btn-default:hover, #moodle-frontpage-elements .news-article-preview a.btn-default:active, #moodle-frontpage-elements .news-article-preview a.btn-default:focus {
    background-color: #000;
}*/


/* ========================================
   DYNAMIC BANNERS - MAJOR UPGRADE 06.06.23
   ======================================== */

/* Set defualt text and colour background if in a course with a dynamic banner */
body.gotafe-in-course #page-header:not(.mast-image) {
    background: black;
}

/* Change the BG for 2024 courses (ID24/2024) */
body.gotafe-year-2024 #page-header:not(.mast-image), body.gotafe-year-id24 #page-header:not(.mast-image) {
    background: #1f3345;
}

/*Set banner text to white with shaadow*/
body.gotafe-in-course #page-header * {
    color: #FFF !important;
}

/* Hide the 'Change cover image' button*/
#snap-coverimagecontrol {
    display: none !important;
}

/*Drop the opacity of the unit and qualification titles*/
#gotafe-banner-units .text-muted, #gotafe-banner-quals .text-muted {
    opacity: 0.9;
}

/* Round the corners of the year floating panel */
#gotafe-banner-year {
    border-radius: 0.3em;
}

/* Increase contrast of breadcrumb separator */
.breadcrumb-item+.breadcrumb-item::before {
    color: #bbb;
}

/* ===============================
   ALERTS
   =============================== */

/* Message alerts*/
.alert {
    background-image: none !important;
}

.alert-success {
    color: black !important;
    background-color: rgba(139, 195, 74, .2);
    border-left-color: #8bc34a !important;
}

.alert-info {
    color: black !important;
    background-color: rgba(3, 169, 244, .2);
    border-left-color: #03a9f4 !important;
}

/* Warning messages, including feedback on quizzes.*/
.alert-warning, #page-admin-index .adminwarning, .uninstalldeleteconfirmexternal, .que .outcome, .que .comment {
    color: black !important;
    background-color: rgba(255, 152, 0, .2);
    border-left-color: #ff9800 !important;
}

.alert-danger {
    color: black !important;
    background-color: rgba(233, 30, 99, .2);
    border-left-color: #e91e63 !important;
}

.text-danger {
    color: #005555 !important;
}


/* Bootstrap background colours.  Increased colour contrast. Used in dynamic banners and more */
.bg-success {
    background-color: #22562e !important;
}

.bg-info {
    background-color: #086270 !important;
}

.bg-danger {
    background-color: #a80a19 !important;
}

/* Specific override for 'Not required' */
.bg-danger.gotafe-not-required {
    background-color: #aa0078 !important;
}

/* Specific override for 'External Developers' */
.bg-danger.gotafe-external-developers {
    background-color: #3c3575 !important;
}

/* Specific override for '3rd Party Resources' */
.bg-danger.gotafe-third-party-resources {
    background-color: #803000 !important;
}

/*======================================
=            External links            =
======================================*/

/* Add external link marker to URL tools that open in new window */
li.modtype_url a.mod-link[onclick]:before {
    font-family: FontAwesome;
    content: "\f08e";
    position: absolute;
    right: 1em;
}

/* Establish relative positioning */
li.modtype_url a.mod-link[onclick] p {
    color: #0a6164;
    position: relative;
}

#page-content a[target="_blank"]:after {
    font-family: FontAwesome;
    content: "\f08e";
    padding: 0 0.5em;
}

/* ===============================
   SNAP 'MY COURSES' INTERFACE
   =============================== */

/* Make the coloured stripe narrower, on large format displays*/
@media (min-width:768px) {
    .coursecard {
        height: 165px
    }
    .coursecard .coursecard-body {
        min-height: 75%
    }
    .coursecard .coursecard-body h3 {
        font-size: 0.8em
    }
}

/* Update "Courses" link to "Current Courses" and make bolder */
a[aria-controls="snap-pm-courses-current"] {
    font-weight: bold
}
a[aria-controls="snap-pm-courses-current"]:before {
    content: "Current "
}

/* Shift the serach box down */
#snap-pm form#coursesearch {
    margin-top: 1em;
}
/* Replace the course search "GO" form input with a custom image */
#snap-pm form#coursesearch input[type=submit] {
    background: url("/pluginfile.php/1/tool_themeassets/assets/0/GOLearn_logo_40x40.png") no-repeat center center;
    width: 43px;
    height: 43px;
    border: none;
    color: transparent;
    font-size: 0;
    float: right;
    position: relative;
    margin: -5px 0 0 5px;
}

#snap-pm-program-catalogue, #snap-pm-my-programs {
    display: none;
}


/* ===============================
   COURSE CONTENT PAGES & SIDE NAV
   =============================== */


/* Increased contrast for hidden/conditional/unpublished content.  */


#snap-course-wrapper #chapters li.draft .chapter-title:before {
    background-color: #993366;
}

.snap-conditional-tag, .snap-stealth-tag, .snap-draft-tag, .snap-current-tag, .text-warning, .red, .notifyproblem, .completion-expired, span.flagged-tag, tr.flagged-tag, span.flagged-tag a, tr.flagged-tag a, .moodle-dialogue-exception .param-stacktrace .stacktrace-line, .connecting {
    color: #993366 !important;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400 !important;
}

.published-status {
    opacity: 1;
    font-weight: 400 !important;
}

/* Increased contrast and green progress circle, to highlight active section*/
.snap-visible-section a {
    color: black !important;
}

.snap-visible-section a:before {
    font-family: FontAwesome;
    content: "\f111";
    color: #0a6164;
    padding-right: 6px;
}


/* ===============================
   FOOTER
   =============================== */


/* Hide MoodleRooms specific footer text and copyright statement */
#mrooms-footer {
    visibility: hidden;
    height: 1.2em;
}

/* Hide the custom menu (in favour of a custom footer) */
#moodle-custom-menu {
    display: none;
}

/* Reduce the size of the copyright statement */
.copyright-statement {
    font-size: 0.8em
}

/* Turn back on the Moodle help link */
#mrooms-footer a.helplinkpopup {
    visibility: visible !important;
}


/* Hide the Course contacts (teachers) */
#snap-course-footer-contacts h5, #snap-course-footer-contacts .snap-media-object {
    display: none !important;
}


/* ===============================
   BOOKS
   =============================== */

/*----------  Moodle/Snap 4.1 Books fixes ----------*/

/* Books - Reduce book heading size */
#page-mod-book-view h2 {
    font-size: 1.2em
}

/* Books - Make the completion tracking less 'shouty'   Reduce vertical spacing */
#page-mod-book-view .activity-header {
    padding: 0em;
    font-size: 0.8em;
    background-color: white;
}

/* Books - Move completion badge up */
#page-mod-book-view .automatic-completion-conditions {
    margin-top: -1.3em;
}

/* Books - Align 'Turn editing on' right (again) */
#page-mod-book-view .snap-page-heading-button {
    text-align: right;
}

/* Books - reduce button size */
#page-mod-book-view .snap-page-heading-button .btn {
    font-size: 0.8em;
}

/* Books - Shift TOC down so it better aligns with page content */
#page-mod-book-view .block_book_toc {
    font-size: 0.9em;
}

/* Books - Reduce the left and right padding to give more space to ToC items */
#page-mod-book-view #moodle-blocks {
    padding: 0 2%;
}

/* Books - Ensure that you clear any floats within book content */
#page-mod-book-view .book_content {
    width: 100%;
    clear: both;
}


body#page-mod-book-view.editing .book_toc .d-flex {
    display: block !important;
}

body#page-mod-book-view.editing .book_toc .text-truncate {
    white-space: normal;
}

body#page-mod-book-view.editing .book_toc .d-flex {
    display: block !important;
}

body#page-mod-book-view.editing .book_toc .text-truncate {
    white-space: normal;
}

/* ===============================
   GRADEBOOK
   =============================== */

/* Adjust layout issues of user report table */
table.user-grade .column-itemname a {
    font-size: 1em !important;
}

table.user-grade .column-grade {
    padding-top: 0.5em;
    font-weight: bold;
}

table.user-grade .column-feedback {
    /*width: 36% !important;*/
    padding-top: 0.5em;
    padding-left: 1em;
    font-size: 1em !important;
}

/* Zac Grader Fix - could effect other areas will need to investigate
   =============================== */
@media screen and (max-width: 2000px) {
    .justify-content-center {
        justify-content: flex-start !important;
    }
}

@media screen and (max-width: 560px) {
    div.form-control-static {
        width: 320px;
    }
}

/* Fix to Grading form display for large number of criteria */
.path-mod-assign [data-region="review-panel"].collapsed+[data-region="grade-panel"] [data-region="grade"], .path-mod-assign [data-region="grade-panel"].fullwidth [data-region="grade"], .gradingform_rubric {
    max-width: 100% !important;
}


/* ===============================
   SPECIFIC OVERRRIDES AND UI/UX FIXES
   =============================== */


/*Snap on M3.8 books fix - when inside a book, hide the book description from top*/
body#page-mod-book-view #region-main #intro {
    display: none;
}

/* User tours - Change background to black with opacity */
div[data-flexitour="backdrop"] {
    background-color: black;
    opacity: .4;
}

/* Increased contrast for dropdown menu items in ATTO editor - eg styles menu*/
.editor_atto_menu .dropdown-menu>li>a:hover, .editor_atto_menu .dropdown-menu>li>a:hover {
    background-color: #369 !important;
    background-image: none !important;
    color: white !important;
    ;
}

/* removing jumpto navigation ticket #16304 */
#jump-to-activity {
    display: none !important;
}

#next-activity-link {
    display: none !important;
}

#prev-activity-link {
    display: none !important;
}


/* Fix issue where collapsed accordions cannot be edited in the new ATTO editor
Expand all collapsed items in the atto edtitor, to expose their content */
.editor_atto .collapse, .book_chapter .collapse {
    display: block !important;
    height: auto !important;
}

#imscp_layout .yui-layout-bd.yui-layout-bd-noft {
    overflow: auto;
}



/*----- Hide user notification - Shaun's fix for white space----*/
.theme-snap #user-notifications {
    display: none;
}

/* ===============================
    Zac Test - Card descriptions are now larger and no longer fade out and subchapters button
   =============================== */
.path-mod-book #id_general .fcontainer .checkbox {
    display: inline
}

body.snap-resource-card .snap-resource-long div.contentafterlink .no-overflow {
    overflow: overlay;
    max-height: 20em;
}

body.snap-resource-card .snap-resource-long div.contentafterlink p.snap-resource-card-fadeout {
    display: none;
}

/*----- Hide user notification - Shaun's fix for white space----*/
.theme-snap #user-notifications {
    display: none;
}

/* ===============================
    Zac Test - Card descriptions are now larger and no longer fade out and subchapters button
   =============================== */
.path-mod-book #id_general .fcontainer .checkbox {
    display: inline
}

body.snap-resource-card .snap-resource-long div.contentafterlink .no-overflow {
    overflow: overlay;
    max-height: 20em;
}

body.snap-resource-card .snap-resource-long div.contentafterlink p.snap-resource-card-fadeout {
    display: none;
}

/* ===============================
   Zac Grader Fix - could effect other areas will need to investigate
   =============================== */
@media screen and (max-width: 2000px) {
    .justify-content-center {
        justify-content: flex-start !important;
    }
}

@media screen and (max-width: 560px) {
    div.form-control-static {
        width: 320px;
    }
}

.text-muted{
    color: #abaaa6!important;
}

.reportbuilder-wrapper .mt-2 .inplaceeditable .quickeditlink{
    color: inherit !important;
}


/* ===============================
   Various CSS fixes added by eWorks over the years.
   =============================== */


#rubric-advancedgrading #advancedgrading-criteria .level-wrapper .definition{
    width : 100px !important;
}

/*----- Fix equella iframe issue----*/
#resourceobject{
width:100%;
height : 1600px ;
}

/* Issue display in the course category page */
#page-course-management #category-listing, #page-course-management #course-listing{
width:50%;
}

/* Fix to hide white space under embedded LTI content */
#page-mod-lti-view #region-main > .m-t-2.m-b-1.activity-navigation {
display: none;
}

/* Resize embedded LTI content page */
#page-mod-lti-view #contentframe  {
 height: 75vh!important;
}



/* Fix display issues - Sortable tables conflicting with Bootstrap 4 */

.dataTables_wrapper .dataTables_length select {
    width:  4em;
}

.dataTables_wrapper .dataTables_filter input {margin-left: 0px !important;}

.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .next {
    padding: 0 !important;
    margin: 0 !important;
}

/*----- Enlarge size of feedback boxes in Advanced Grading checklist, Aug 2021----*/
.gradingform_checklist .group .items .item .remark {
    width: 100%;
}

/* July 2021 - padding fix */

.well {
padding: 1.25rem;
}
/* 2021 Category color change */

.category-3461 #page-header {
    background-color: #8A1350 !important;
}

.category-3461 #page-header h1 {
    color: #fff!important;
    text-shadow: 2px 2px 2px #000;
}

#page-course-index-category.category-3461 #page-header h1 {
margin: 0.5em 0;
}

.category-3461 #page-header .btn.btn-secondary {
color: white !important;
border-color: white !important;
}
