/*
* @Author: Greg Bird (@BirdyOz, greg.bird.oz@gmail.com)
* @Date:   2018-07-27 08:57:17
* @Last Modified by:   BirdyOz
* @Last Modified time: 2018-08-02 12:08:16
*/

body[class*="gotafe-banner-"] #page-header {
    background-image: none !important;
}


body.gotafe-banner-food-and-fibre #page-header {background-color: #25612b;}
body.gotafe-banner-technical-trades #page-header {background-color: #0a6164;}
body.gotafe-banner-business-and-it #page-header {background-color: #005596;}
body.gotafe-banner-manufacturing #page-header {background-color: #152f62;}
body.gotafe-banner-education-and-training #page-header {background-color: #342165;}
body.gotafe-banner-creative-services #page-header {background-color: #95092f;}
body.gotafe-banner-health-community-and-fitness #page-header {background-color: #a4050b;}
body.gotafe-banner-hospitality-baking-events-and-tourism #page-header {background-color: #a72600;}

body.gotafe-narrow-banner .mast-image {
    min-height: 200px !important;
}

/* Message alerts*/

.alert {
    background-image: none !important;
}

.alert-success {
    color: black;
    background-color: rgba(139,195,74,.2);
    border-left-color: #8bc34a !important;
}

.alert-info {
    color: black;
    background-color: rgba(3,169,244,.2);
    border-left-color: #03a9f4;
}

.alert-warning {
    color: black
    background-color: rgba(255,152,0,.2);
    border-left-color: #ff9800;
}

.alert-danger {
    color: black;
    background-color: rgba(233,30,99,.2);
    border-left-color: #e91e63;
}
